In [2]:
import numpy as np
import pandas as pd

In [5]:
df =pd.read_csv("unique_telecom_data.csv")
df

,CustomerID,Gender,Age,TenureMonths,MonthlyCharges,TotalCharges,Contract,InternetService,PaymentMethod,Churn
0,CUST00001,Male,71,23,92.45,2126.35,One year,DSL,Bank transfer,No
1,CUST00002,Female,34,26,93.45,2429.70,Month-to-month,Fiber optic,Mailed check,No
2,CUST00003,Male,26,7,84.62,592.34,Month-to-month,No,Bank transfer,No
3,CUST00004,Male,50,14,93.19,1304.66,Month-to-month,Fiber optic,Mailed check,Yes
4,CUST00005,Male,70,7,102.62,718.34,Month-to-month,No,Bank transfer,Yes
...,...,...,...,...,...,...,...,...,...,...
995,CUST00996,Male,49,36,70.14,2525.04,Month-to-month,Fiber optic,Credit card,No
996,CUST00997,Male,27,58,68.52,3974.16,One year,Fiber optic,Bank transfer,No
997,CUST00998,Female,33,54,74.95,4047.30,One year,No,Mailed check,No
998,CUST00999,Female,24,12,16.75,201.00,Month-to-month,Fiber optic,Bank transfer,No
999,CUST01000,Male,34,14,49.84,697.76,Month-to-month,Fiber optic,Mailed check,No

In [49]:
#to verify whether it is dataframe or not....
isinstance(df,pd.DataFrame)

True

# some fuctions to check the null values in dataframe......

In [25]:
# df.isnull()
# df.isnull().values.any()
# df.isnull().values.sum()
df.isnull().sum()
# df.isnull().sum().sum()

CustomerID         0
Gender             0
Age                0
TenureMonths       0
MonthlyCharges     0
TotalCharges       0
Contract           0
InternetService    0
PaymentMethod      0
Churn              0
dtype: int64

**to check the duplicates in dataframe**

In [38]:

# df.duplicated()
# df.duplicated(subset=['column_name'])
df.duplicated().sum()
# df[df.duplicated()]

np.int64(0)

**Exploratory Data Analysis**

In [43]:
#To check the missing values and datatypes.....
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CustomerID       1000 non-null   object
 1   Gender           1000 non-null   object
 2   Age              1000 non-null   int64
 3   TenureMonths     1000 non-null   int64
 4   MonthlyCharges   1000 non-null   float64
 5   TotalCharges     1000 non-null   float64
 6   Contract         1000 non-null   object
 7   InternetService  1000 non-null   object
 8   PaymentMethod    1000 non-null   object
 9   Churn            1000 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 78.3+ KB

In [44]:
#To take a look for summary of dataframe.....
df.describe()

               Age  TenureMonths  MonthlyCharges  TotalCharges
count  1000.000000   1000.000000     1000.000000   1000.000000
mean     48.394000     34.399000       65.840710   2245.378680
std      17.818256     20.332368       32.116512   1821.394958
min      18.000000      1.000000       10.020000     27.580000
25%      34.000000     17.000000       37.877500    727.770000
50%      49.000000     33.000000       67.790000   1733.715000
75%      64.000000     51.250000       93.552500   3380.760000
max      79.000000     71.000000      119.970000   8213.760000

**conclusion after see the summaryand basic info about this dataframe....**

 - Here, there is no null values.
 - After see the values of mean and standard devation, it shows that the std is low.
 - Std is lower than the average(mean).
 - The values are closer to mean value.
 - Variancy between data points is less.
 - It shows that this data is ready to visualize...

**Check the visualizations in power bi file**